/* You can write your own styles here......Or you can use the import command to include other sylesheets into your bunde as well, e.j:import 'relative/path/to/stylesheet.scss';*/


body {
    background-color: rgb(93, 88, 84);
    font-weight: bold;
}

h1 {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    font-size: 4rem;
    color: white;
}
h2 {
    font-weight: bold;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 160px;;
    width: 100%;
    height: 21rem;
    background-color: rgb(73, 66, 60);
    border-radius: 3px;
}
span {
    display: flex;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
input {
    display: inline-block;
    margin: 0 auto;
    height: 30px;
    padding: 5px;
    outline: 1 solid blue;
}
.errores{
    margin: 0;
    color: rgb(255, 137, 82);
}
.campoA{
    margin: 5px;
}
.campoB{
    margin: 5px;
}

.buttongroup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-x {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(245, 235, 98);
    background-color: rgb(63, 57, 51);
    border: none;
    border-radius: 3px;
}
.boton-x:hover {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(255, 248, 144);
    background-color: rgb(140, 130, 120);
    border: none;
    border-radius: 3px;
}
.boton-o {
    width: 110px;
    height: 110px;
    padding-bottom: 10px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(95, 215, 236);
    background-color: rgb(63, 57, 51);
    border: none;
    border-radius: 3px;
}
.boton-o:hover {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(116, 234, 255);
    background-color: rgb(140, 130, 120);
    border: none;
    border-radius: 3px;
}
table{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    width: 45rem;
    text-align: center;    
    font-size: 6rem;
    color: rgb(151, 148, 145);
}
tr:first-child {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
    border-bottom: 1px solid  rgb(151, 148, 145);
    
}
tr:nth-child(2) {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
    border-bottom: 1px solid  rgb(151, 148, 145);
    
}
tr:last-child {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
}

td:first-child {
    width: 240px;
    border-right: 1px solid rgb(151, 148, 145);
}
td:nth-child(2) {
    width: 240px;
    border-right: 1px solid rgb(151, 148, 145);
}
td {
    caret-color: transparent;
}
.popup-ganador{
    margin: 0 auto;
    width: 10rem;
    height: 2rem;
}
.ganador{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: greenyellow;
}
.reiniciar {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
    font-size: 15px;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    color: greenyellow;
    background-color: rgb(145, 155, 131);
}
.reiniciar:hover {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
    font-size: 15px;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    color: rgb(3, 80, 3);
    background-color: rgb(163, 228, 72);
}
.reiniciar:active {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
    font-size: 15px;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(60, 133, 0);
}
.botonHome {
    position: absolute;
    left: 47%;
    bottom: 5%;
    border: none;
    border-radius: 4px;
    color: greenyellow;
    background-color: rgb(145, 155, 131);
}
.botonHome:hover {
    position: absolute;
    left: 47%;
    bottom: 5%;
    border: none;
    border-radius: 4px;
    color: rgb(3, 80, 3);
    background-color: rgb(163, 228, 72);
}
.botonHome:active {
    position: absolute;
    left: 47%;
    bottom: 5%;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(60, 133, 0);
}
