/* You can write your own styles here......Or you can use the import command to include other sylesheets into your bunde as well, e.j:import 'relative/path/to/stylesheet.scss';*/


body {
    background-color: rgb(93, 88, 84);
    font-weight: bold;
}

h1 {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    font-size: 4rem;
    color: white;
}
h2 {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 160px;;
    width: 100%;
    height: 260px;
    background-color: rgb(73, 66, 60);
    border-radius: 3px;
}
span {
    display: flex;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
input {
    display: inline-block;
    margin: 0 auto;
    height: 30px;
    padding: 5px;
    outline: 1 solid blue;
}
/* input:border{
    border: none;
} */
.buttongroup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-x {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(245, 235, 98);
    background-color: rgb(63, 57, 51);
    border: none;
    border-radius: 3px;
}
.boton-x:hover {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(255, 248, 144);
    background-color: rgb(140, 130, 120);
    border: none;
    border-radius: 3px;
}
.boton-o {
    width: 110px;
    height: 110px;
    padding-bottom: 10px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(95, 215, 236);
    background-color: rgb(63, 57, 51);
    border: none;
    border-radius: 3px;
}
.boton-o:hover {
    width: 110px;
    height: 110px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: rgb(116, 234, 255);
    background-color: rgb(140, 130, 120);
    border: none;
    border-radius: 3px;
}

table{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    width: 45rem;
    text-align: center;    
    font-size: 6rem;
    color: rgb(151, 148, 145);
}
tr:first-child {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
    border-bottom: 1px solid  rgb(151, 148, 145);
    
}
tr:nth-child(2) {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
    border-bottom: 1px solid  rgb(151, 148, 145);
    
}
tr:last-child {
    width: 240px;
    height: 10rem;
    background-color: rgb(93, 88, 84);
}

td:first-child {
    width: 240px;
    border-right: 1px solid rgb(151, 148, 145);
}
td:nth-child(2) {
    width: 240px;
    border-right: 1px solid rgb(151, 148, 145);
}
td {
    caret-color: transparent;
}